body {
	font-size: 17px;
    line-height: 25px;
    padding: 5px;
    font-family: "Helvetica Neue", "Heiti SC";
}

p {
	margin: 0 0 7px 0;
}

a {
	color: #486b9a;
	text-decoration: none;
}

h2 {
	font-size: 17px;
	border-bottom: 1px solid #ccc;
}